$ cat .gitignore

# Can ignore specific files
Makefile
cmakefbc.geany
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
cmakefbc_deps/cmakefbc_deps
fbp.txt
doxy/fb-doc.lfn

# Use wildcards as well
CPack*

# Can also ignore all directories and files in a directory.
build/**/*
doxy/html/**/*
doxy/latex/**/*
CMakeFiles/**/*
cmakefbc_deps/CMakeFiles/**/*
