Source: cmakefbc
Section: unknown
Priority: extra
Maintainer: Arend Lammertink <lamare@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.3
Homepage: https://github.com/DTJF/cmakefbc
Vcs-Git: https://github.com/DTJF/cmakefbc
#Vcs-Git: git://git.debian.org/collab-maint/cmakefbc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cmakefbc.git;a=summary

Package: cmakefbc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeBASIC (FB) programming language support for CMake.
 The package includes:
 .
 CMake macros to extend the CMake build management system, in order to
        check for the FB compiler and its version,
        test the compiler,
        declare internal CMake language variables (CMAKE_Fbc_...),
        declare a macro to scan dependencies in FB source code, and
        declare a function to pre-compile FB source to C source.
 .
 the tool cmake_fb_deps to
        scan the dependency files in FB source trees and
        integrate them in to a projects build tree.
 .
 a CMake script and a macro for the tool fb-doc to
        find the executable and
        use it to build the documentation with the Doxygen generator
