#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean:
	dh $@ 
	rm -rf debian/cmakefbc
	rm -rf debian/cmakefbc.*.*
	rm -rf `find . -name MakeFile -print`
	rm -rf `find . -name CMakeCache.txt -print`
	rm -rf `find . -name CMakeFiles -print`
	rm -rf `find . -name cmake_install.cmake -print`
	rm -rf `find . -name install_manifest.txt -print`
	rm -rf doxy/DoxyExtension doxy/HtmOut doxy/PdfOut 
	rm -rf doxy/html/ doxy/latex/

build:
	./configure
	dh $@ 
	make doc

%:
	dh $@ 
